<head>
  <% title 'The Metric | Edit Admin' %>
  <% description 'Edit admin information' %>
</head>

<div class="light-light-gray">
  <div class="space-1"></div>

  <div class="container">
    <p class="section-title">
      Edit Admin Info
    </p>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="white pad-2 shade-1">
          <%= render 'form' %>

          <div class="space-1"></div>

          <%= link_to 'Edit email and password', edit_admin_registration_path %>
        </div>

        <%= link_to current_admin do %>
          <button class="btn-black shade-3 hover marg-top-1">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            &nbsp;Back to profile
          </button>
        <% end %>
      </div>
    </div>
  </div>

  <div class="space-2"></div>
  <div class="space-2 hidden-sm-down"></div>
</div>
