<head>
  <% title 'The Metric | Edit Admin' %>
  <% description 'Edit admin information' %>
</head>

<div class="light-light-gray">
  <div class="space-2"></div>
  <div class="space-2 hidden-sm-down"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="white pad-2 shade-1 hover">
          <p class="caps text-muted bold marg-bot-1">
            Edit admin information
          </p>
          <%= render 'form' %>

          <div class="space-1"></div>

          <%= link_to 'Edit email and password', edit_admin_registration_path %>

          <div class="space-2"></div>
          <%= link_to current_admin do %>
            <button class="btn-white shade-3 hover">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
              &nbsp;Back to profile
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="space-2"></div>
  <div class="space-2 hidden-sm-down"></div>
</div>
