<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="space-2"></div>
      <h1 class="special">Welcome to The Metric!</h1>
      <h3 class="text-muted">A guide to help you get started, contribute, and help our organization grow.</h3>

      <div class="line-1"></div>

      <p class="serif">
        First and foremost, keep everyone updated on your progress on <a href="https://themetrichq.slack.com/">Slack.</a> It's important everyone is in the loop so that we can push out everything in sync (edits, shares, publications, etc.).
      </p>

      <p class="serif">
        If you ever have any questions, read through this guide and ask in Slack if you are still unsure.
      </p>

      <div class="space-1"></div>

      <h3 class="bold serif">
        Getting your account up and running
      </h3>

      <p class="serif">
        If you haven't yet, <%= link_to 'edit your account information', edit_admin_path(current_admin) %> so that our readers know who you are. Every article you write will come up under your name and people will see your articles when they go to your <%= link_to 'account page.', current_admin %>
      </p>

      <div class="space-1"></div>

      <h3 class="bold serif">
        Writing and submitting an article for review
      </h3>

      <p class="serif">
        Articles can be written and submitted <%= link_to 'here.', new_article_path %> Articles are styled using the <a href="https://github.com/basecamp/trix#readme">Trix</a> rich text editor and is pretty intuitive.
      </p>
      <p>
        To insert images into articles (excluding the header image), copy a link to the image and surround it in square brackets. For example, in the text editor I would write:
      </p>
      <p class="text-muted">
        [https://linktoimage.com/image.jpg]
      </p>
      <p>You can add text to give a source, context, or caption to your image by appending any number of comma and text pairs:</p>
      <p class="text-muted">
        [https://linktoimage.com/image.jpg,caption]
        <br>
        [https://linktoimage.com/image.jpg,source,caption]
        <br>
        [https://linktoimage.com/image.jpg,source,caption,etc.]
      </p>
      <p>
        When you submit the article, the image should load and show up as you want it to.
      </p>

      <div class="space-1"></div>

      <h3 class="bold serif">
        Publishing an article to the public
      </h3>

      <p class="serif">
        Not everyone has permissions to publish an article (yes, not even your own). This is a precaution put in to ensure that only the right content reaches our readers. If you do not have these permissions and you think your article is ready to be shipped, reach out to the executive board memebers on Slack.
      </p>

      <p class="serif">
        The same people who can publish articles can also unpublish articles, thereby removing them from public view.
      </p>

      <div class="space-1"></div>

      <h3 class="bold serif">
        Adding contributors to The Metric
      </h3>

      <p class="serif">
        Anyone who is a super admin has the ability to refer users by email addresses to join the platform. Only users with "referred" email addresses can successfully register on the platform. This is a check to ensure that only people we want can contribute on this platform.
      </p>

      <div class="space-2"></div>

      <%= link_to 'Back to home', root_path, class: 'btn-white shade-3 hover' %>

      <div class="space-4"></div>
    </div>
  </div>
</div>
