<head>
  <% title 'The Metric | New Article' %>
  <% description "Write a new blog post" %>
</head>

<div class="container marg-top-2 marg-bot-2">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <%= render 'form' %>
        <div class="space-3"></div>
        <%= link_to articles_path do %>
        <button class="btn-white shade-3 hover">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          &nbsp;Back to all articles</button>
        <% end %>
    </div>
  </div>
</div>
