<% (articles.each_slice(2).to_a).each do |a| %>
  <% if a[1].present? %>
    <div class="article-cols">
      <%= render a[0] %>
      <%= render a[1] %>
    </div>
  <% else %>
    <%= render a[0] %>
  <% end %>
<% end %>
