<!-- footer -->
<footer id="footer" class="black pad-2">
  <div class="row">
    <div class="col-12">
      <h1 class="white-text">
        Youth Journal
      </h1>
      <p class="white-text">
        This is some text about the Youth Journal and what it sets out to accomplish.
      </p>
    </div>

    <div class="col-12">
      <ul class="links">
        <li>
          <a href="<%= root_path %>">Home</a>
        </li>
        <li>
          <a href="<%= about_path %>">About</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
      </ul>
    </div>

    <div class="col-12">
      <ul class="social">
        <a href="" title="Facebook">
          <li class="icon">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </li>
        </a>
        <a href="" title="Twitter">
          <li class="icon">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </li>
        </a>
        <a href="" title="Email us">
          <li class="icon">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </li>
        </a>
      </ul>
    </div>

    <div class="col-12">
      <p class="white-text">
        Website by
        <a href="http://cameroncabo.com/" target="_blank">Youth Journal</a>
        &copy; 2017, all rights reserved.<br>
        Made with &hearts; in Los Angeles, Philadelphia, and around the world.
      </p>
    </div>
  </div>
</footer>
<div class="footer-bottom"></div>
