<div class="container marg-top-2 marg-bot-2">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>
        We write stories to raise awareness and create impact.
      </h1>
      <p class="marg-bot-2">
        Shoreditch before they sold out in selvage gastropub PBR&B retro palo santo quinoa messenger bag. Shabby chic exercitation hexagon, occupy vegan tbh +1 narwhal glossier nisi selfies subway tile dreamcatcher. Velit letterpress humblebrag shoreditch officia iceland aliqua affogato freegan ea. Consectetur VHS you probably haven't heard of them keffiyeh sustainable brunch salvia anim paleo vegan hella bushwick succulents ugh. Ennui cillum craft beer, cloud bread helvetica cronut quis in shoreditch. Lyft chia consectetur aesthetic. Dolore meh williamsburg, tousled dreamcatcher viral excepteur ullamco blue bottle authentic kale chips cillum PBR&B.
      </p>

      <h1>
        Meet the team
      </h1>
      <p>
        We're a driven team of something something and we are passionate for something something. Want to join us? <a href="<%= new_contact_path %>">Send us a message.</a>
      </p>
    </div>
  </div>
</div>
