<div class="background-graphic">
  <div class="background-fade"></div>
  <div class="slice-1"></div>
  <div class="slice-2"></div>
  <div class="dots"></div>
  <div class="slice-3"></div>
</div>
<div class="container-fluid marg-top-2 marg-bot-2">
  <div class="space-2"></div>
  <div class="row">
    <div class="col-12 col-md-8 offset-md-1 col-lg-6">
      <h1 class="white pad-1 special marg-bot-1">
        We write stories to raise awareness and create impact.
      </h1>
    </div>
    <div class="col-12 col-md-10 offset-md-1 col-lg-8">
      <p class="white pad-1 marg-bot-1">
        The Metric is a student-run organization that publishes domestic policy, foreign policy, and current affairs-related content from students in higher education across the world. We as well write about opportunities and resources to catalyze political action.
      </p>
      <p class="white pad-1 marg-bot-2">
        By conducting a worldwide communications initiative, we aim to better inform our peers in an accessible, appealing manner. We provide a platform for youths to share their views in order to encourage productive discussion and action.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8">
      <h1 class="special">
        Meet the team
      </h1>
      <p>
        We're a driven team of something something and we are passionate for something something. Want to join us? <a href="<%= new_contact_path %>">Send us a message.</a>
      </p>
      <div class="space-1"></div>
      <%= link_to 'See all of our contributors', admins_path, class: 'btn-white shade-3 hover' %>
    </div>
  </div>
  <div class="space-4"></div>
</div>
