<div class="dark">
  <div class="container">
    <div class="background-image feature" id="about-feature">
      <div class="metric-gradient">
        <div class="content-wrapper">
          <div class="content">
            <h1 class="title serif">
              Measuring What's Happening Around the World through Your Voice
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="light-gray">
  <div class="container marg-top-2 marg-bot-2 diagonal">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="pad-1 white">
          <div class="space-1 hidden-lg-down"></div>

          <h3 class="serif bold marg-bot-1">
            More About Us
          </h3>

          <p>
            The Metric is a youth led platform that aims to create an inclusive
            space for atypical stories. We support contributors from around the
            world to share their unique perspectives and stories that may not be
            heard outside of their local communities. A central question that
            serves as a point of departure for the articles we aim to publish
            is:
          </p>

          <p style="text-align: center; font-size: 120%;">
            <i>How is the local affected by the global?</i>
          </p>

          <p>
            This can be applied to various spheres: the economic, social,
            cultural, political - or perhaps the intersection of them all?
          </p>

          <p>
            We represent a variety of geographic locations, cultural
            experiences, and intellectual interests — we are united by a passion
            to provide a better measure of what’s happening around the world.
          </p>

          <p>
            We welcome various lenses and perspectives from people of all walks
            of life. We have a team of co-editors who are ready to support our
            guest content creators along the publishing phase.
          </p>

          <p>
            If you have a great story to share, drop us a line on
            <a
              href="https://www.facebook.com/TheMetricGlobal/"
              target="_BLANK"
              rel="noopener noreferrer"
              >Facebook</a
            >
            and let’s get writing!
          </p>

          <p>
            <i>*We welcome one time writers as well as repeat contributors</i>
          </p>

          <div class="space-1 hidden-lg-down"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/line' %>

<!-- admins -->
<div class="light-light-gray section">
  <div class="container">
    <p class="section-title marg-bot-05">
      Meet the Team
    </p>

    <div class="center">
      <p class="marg-bot-1 serif">
        We're a driven group of students from around the world who are
        passionate for progress and political awareness.
      </p>

      <div>
        <a
          href="https://goo.gl/forms/sTQwm18j047KycNw1"
          target="_blank"
          class="btn-blue white-text marg-right-05 shade-3 hover"
        >
          Join the team
        </a>
        <a href="<%= new_contact_path %>" class="btn-black shade-3 hover">
          Send us a message
        </a>
      </div>
    </div>

    <div class="space-2"></div>
    <div class="space-1 hidden-lg-down"></div>

    <!-- <div class="row"> -->
    <div class="admins">
      <%= render 'shared/admins', admins: @admins %>
    </div>
    <!-- close row -->

    <div class="space-1"></div>

    <div class="center">
      <%= link_to root_path, class: 'btn-black shade-3 hover' do %> &larr;
      &nbsp;Back to home <% end %>
    </div>
  </div>

  <div class="space-2"></div>
</div>
<!-- end admins -->
