<div class="container marg-top-2 marg-bot-2">
  <h1 class="serif">
    Hi there!
  </h1>

  <p>
    Why is this not showing up?
  </p>

  <%= link_to articles_path do %>
    <div class="btn-black">
      View all articles <i class="fa fa-chevron-right"></i>
    </div>
  <% end %>
</div>
