<head>
  <% title 'The Metric | Thanks for Reaching Out' %>
  <% description"Thank you for reaching out. We will get back to you as soon as possible." %>
</head>

<div class="light-gray">
  <div class="space-2"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="white pad-1 bord-top-thick">
          <h2>Thank you for your message</h2>
          <p>
            Thank you for reaching out to us. We will get back to you as soon as possible.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="space-4"></div>
</div>
