// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin {
  display: flex;

  .admin-img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.15);
  }

  .admin-content {
    flex: 1;
  }
}
