$light-light-gray: #eff2f4;
$blue-gray: #aab1b7;
$dark-blue-gray: #989fa5;

.card.admin-card {
  border: 0px solid transparent;
}

.card-columns.admins {
  column-count: 1;

  .card {
    margin-bottom: 1rem;
  }
}

@media screen and (min-device-width: 1204px) and (min-width: 848px) {
  .card-columns.admins {
    column-count: 2;
  }
}

@media screen and (min-device-width: 1204px) and (min-width: 1204px) {
  .card-columns.admins {
    column-count: 3;
  }
}

.admin {
  display: flex;
  width: 100%;
  transition: all 0.2s ease !important;
  border: 0px solid transparent;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0px 1.5px 2.5px rgba(0, 0, 0, 0.2);
  }

  .admin-img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden !important;
    position: relative;

    &.big {
      height: 6rem;
      width: 6rem;
    }
  }

  .admin-no-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: $light-light-gray;
    margin-right: 1rem;
    display: inline-block;
    position: relative;
  }

  .admin-content {
    flex: 1;
  }
}

.admin-icons li a {
  color: $blue-gray;

  &:hover {
    color: $dark-blue-gray;
  }
}
