// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin {
  display: flex;
  width: 100%;

  .admin-img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden !important;
    position: relative;

    &.big {
      height: 6rem;
      width: 6rem;
    }
  }

  .admin-no-img {
    width: 4rem;
    height: 0rem;
    margin-right: 1rem;
    display: inline-block;
    position: relative;
  }

  .admin-content {
    flex: 1;
  }
}

.admin-icons li a {
  color: rgba(0, 0, 0, 0.3);

  &:hover {
    color: rgba(0, 0, 0, 0.4);
  }
}
