/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require trix
 *= require_tree '.'
 */
@import "bootstrap"; // general formatting
$color: #00aeff;
$blue: #008cff;
$dark-blue: #6f3fff;
$darker: #752bff;
$blush: #FF7085;
$green: #3ecf8e;
$blue-gray: #aab1b7;
$light-light-gray: #eff2f4;
$light-light-light-gray: #f4f9fc;

/*
** COLORS
*/

.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase;
}

::selection {
  background: $blue !important;
  color: white;
}

::-moz-selection {
  background: $blue !important;
  color: white;
}

a {
  color: $blue;

  &:visited {
    color: $blue;
  }

  &:hover,
  &:active,
  &:focus {
    color: $dark-blue;
  }
}

.underline {
  border-bottom: 4px solid $blue;
  transition: all 0.2s ease;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 4px solid $dark-blue;
  }
}

.text-muted {
  color: $blue-gray !important;
}

.blue-background-hover:hover {
  background: $blue;
}

.light-light-gray {
  background: $light-light-gray !important;
}

.light-gray {
  background: #e3e7ea !important;
}

.cyan {
  background: cyan !important;
}

.cyan-text {
  color: cyan !important;
}

.text-light {
  color: rgba(0, 0, 0, 0.4) !important;
}

/*
** GENERAL
*/
.space-05 {
  display: block;
  width: 100%;
  height: 0.5rem;
}

button,
button.btn,
.btn {
  border-radius: 0px !important;
}

.btn {
  cursor: hand;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.container.full-width {
  width: 100% !important;
}

a.black-text,
a.black-text:hover {
  color: black;
}

a.full-width {
  position: relative;
  width: 100% !important;
  display: block;
}

.pad-top-1 {
  padding-top: 1rem;
}

.marg-0 {
  margin: 0 !important;
}

.marg-bot-05 {
  margin-bottom: 0.5rem !important;
}

.fixed {
  position: fixed;
}

.recommended {
  position: relative;

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}

.space-0 {
  display: block;
  width: 100%;
  height: 0px;
}

.page-content,
.full-height {
  min-height: calc(100vh - 50px);
}

.hidden {
  display: none;
}

.front {
  z-index: 1030;
}
.card {
  border-radius: 0px !important;
}

/*
** FONTS AND COLORS
*/

// NOTE only regular, bold, italic
.serif {
  font-family: 'PT Serif', serif;
}

// NOTE only regular
.special {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: bold;
}

.sans {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  color: black;
}

a {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
  }
}

p.bigger,
input.bigger,
textarea.bigger {
  font-size: 1.2rem;
}

.black-diag {
  background: black;
  background: -webkit-linear-gradient(20deg, white 50%, black 50%);
  background: -o-linear-gradient(20deg, white 50%, black 50%);
  background: -moz-linear-gradient(20deg, white 50%, black 50%);
  background: linear-gradient(20deg, white 50%, black 50%);
}

.bord-top-thick {
  border-top: 10px solid black;
}

/*
** BUTTONS
*/

.btn-blue,
.btn-white {
  cursor: hand;
  cursor: pointer;
  border: 0px solid transparent;
  border-radius: 0rem;
  transition: all 0.2s ease;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  font-family: 'Palanquin Dark', sans-serif;
}

.btn-blue {
  color: white;
  background: $blue;

  &:hover {
    background: $color;
  }
}

.btn-white {
  color: $blue;
  background: white;

  &:hover {
    background: $light-light-light-gray;
  }
}

.btn-black {
  cursor: hand;
  cursor: pointer;
  border: 0px solid transparent;
  border-radius: 0rem;
  color: white;
  transition: all 0.2s ease;
  background: #333333;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  font-family: 'Palanquin Dark', sans-serif;

  &:hover {
    background: #222222;
  }
}

a.white-text,
a.white-text:focus,
a.white-text:hover {
  color: white !important;
}

h1 .small {
  font-size: 1.5rem;
}

/*
** POPUP
*/

.popup {
  color: white;
  padding: 2rem;

  h1, h2, h3, h4, h5, h6, p, .fa {
    color: white;
  }

  .x {
    position: absolute;
    z-index: 1000;
    color: white;
    right: 1.5rem;
    padding: 0.25rem;
    cursor: hand;
    cursor: pointer;
  }
}

/*
** ERRORS
*/

#error_explanation {
  background-color: #f2dede;
  color: #a94442;
  border: 2px solid #ebcccc;
  padding: 1rem;
  margin: 1rem 0rem;

  h2 {
    color: #a94442;
    font-size: 1.25rem;
  }

  ul {
    margin-bottom: 0px;
  }
}

.has-error .form-control {
  border-bottom: 2px solid #a94442;
}

.help-block {
  color: #a94442;
  margin-top: 0.5rem;
}

.help-block::first-letter {
  text-transform: uppercase;
}

#alert-container {
  z-index: 1031;
  padding: 0 1rem;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  font-weight: bold;
  color: white;
  background: black;

  p {
    margin: 0.5rem 0;
    color: white;
  }

  &.red {
    background: $blush;
  }

  &.green {
    background: $green;
  }
}

.no-display {
  display: none !important;
}

.background-graphic {
  width: 100%;
  height: 60vh;
  position: absolute;
  z-index: -1;
  top: 50px;

  .background-fade {
    position: absolute;
    width: 100%;
    top: 0;
    height: 60vh;
    z-index: -3;
    background-image: linear-gradient(to bottom, $blue, rgba(0, 0, 0, 0));
  }

  .slice-2 {
    position: absolute;
    width: 100%;
    opacity: 0.7;
    top: 0vh;
    height: 40vh;
    z-index: -1;
    background: -webkit-linear-gradient(right top, $darker 50%, rgba(0, 0, 0, 0) 50%);
    background: -o-linear-gradient(bottom left, $darker 50%, rgba(0, 0, 0, 0) 50%);
    background: -moz-linear-gradient(bottom left, $darker 50%, rgba(0, 0, 0, 0) 50%);
    background: linear-gradient(to bottom left, $darker 50%, rgba(0, 0, 0, 0) 50%);
  }

  .slice-1 {
    position: absolute;
    opacity: 0.8;
    width: 100%;
    top: 20vh;
    height: 40vh;
    z-index: -2;
    background: -webkit-linear-gradient(-15deg, #ffffff 50%, $color 50%);
    background: -o-linear-gradient(-15deg, #ffffff 50%, $color 50%);
    background: -moz-linear-gradient(-15deg, #ffffff 50%, $color 50%);
    background: linear-gradient(-15deg, #ffffff 50%, $color 50%);
  }

  .dots {
    width: 100%;
    height: 100%;
    background-image: url('dot.png');
    position: absolute;
    top: 0;
    z-index: 0;
  }

  .slice-3 {
    position: absolute;
    width: 100%;
    top: 40vh;
    height: 20vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), #ffffff);
    background: -o-linear-gradient(rgba(0, 0, 0, 0), #ffffff);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), #ffffff);
    background: linear-gradient(rgba(0, 0, 0, 0), #ffffff);
  }
}

.inline {
  display: inline-block;
  width: auto !important;

  &.nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    &:first-child {
      padding-left: 0rem;
    }
  }
}

.margin-0 {
  margin: 0 !important;
}

.flex-container {
  display: flex;

  .flex {
    flex: 1;
  }
}

@media screen and (max-device-width: 998px) {
  .flex-container {
    display: block;

    .flex {
      width: 100%;
    }
  }
}

@media screen and (max-width: 696px) {
  .flex-container {
    display: block;

    .flex {
      width: 100%;
    }
  }
}
