.time {
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
  margin-right: 1rem;
}

.tag {
  border: 1px solid black;
  color: black;
  padding: 0.2rem 0.6rem;
  border-radius: 0.8rem;
  transition: all 0.2s ease;

  &:hover,
  &:active,
  &:focus, {
    background: black;
    color: white;
  }
}

.admin-buttons {
  top: 0;
  text-align: right;
}

.article-wrapper {
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  h1,
  h2,
  h3 {
    margin-bottom: 1rem;
  }

  h4,
  h5,
  h6 {
    margin-bottom: 0.5rem;
  }
}

.title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: bold;

  &.smaller {
    font-size: 2rem;
  }
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;

  &.smaller {
    font-size: 1.5rem;
  }
}

.other {
  border-top: 0.5rem solid black;
  transition: all 0.2s ease;

  .description {
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  }
}


.share {
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  margin-left: -6rem;

  ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0px;

    li {
      margin: 1rem 0;
    }

    .fa {
      color: rgba(0, 0, 0, 0.15);
      text-align: center;
      display: table-cell;

      .share-circle {
        position: absolute;
        right: -0.25rem;
        transform: translateY(-0.5rem);
        transition: all 0.2s ease;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        z-index: -1;
      }

      &:hover {
        color: white;
      }

      &:hover .share-circle {
        width: 3rem;
        height: 3rem;
      }
    }

    .fa-facebook:hover .share-circle {
      background: #3b5998;
    }

    .fa-twitter:hover .share-circle {
      background: #1da1f2;
    }

    .fa-envelope:hover .share-circle {
      background: #0099ff;
    }

    .fa-linkedin:hover .share-circle {
      background: #0077b5;
    }
  }

  &.bottom {
    position: absolute;
    top: auto;
    bottom: 0;
  }
}
