// Blues
$color: #00aeff;
$blue: #008cff;
$transparent-blue: rgba(0, 140, 255, 0.4);
$t-cyan: rgba(0, 203, 255, 0.8);

// Purples
$dark-blue: #6f3fff;
$transparent-dark-blue: rgba(111, 63, 255, 0.4);
$darker: #752bff;

// Other colors
$blush: #FF7085;
$green: #3ecf8e;

// Neutrals
$dark: #232323;
$dark-blue-gray: #989fa5;
$blue-gray: #aab1b7;
$light-light-gray: #eff2f4;
$light-light-light-gray: #f4f9fc;
$border: rgba(0, 0, 0, 0.1);

// Helper classes
.dark {
  background: $dark;
}
