$gray: #efefef;

#footer {
  background: $dark;
  padding: 2rem 0rem;

  .footer-logo {
    height: 3rem;
    margin-bottom: 1rem;
    width: auto;
    display: block;
  }
}

footer {
  ul.navigation {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li a {
      font-size: 1.2rem;
      color: $blue-gray;
      text-decoration: none;
      font-family: $special;

      &:hover {
        color: lighten($blue-gray, 10%);
      }
    }
  }

  .form-control.footer-field {
    background: $translucent-1;
    color: white !important;
    font-weight: bold;
    max-width: 24rem;
    margin-bottom: 1rem;
    transition: all 0.2s ease;

    &:hover {
      opacity: 1;
      background: $translucent-2;
    }

    &:focus {
      opacity: 1;
      background: $translucent-1;
    }
  }

  ul.social {
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    li {
      margin-right: 1rem;
      display: inline;

      a {
        color: $blue-gray;

        &:hover {
          color: lighten($blue-gray, 10%);
        }
      }
    }
  }
}
