$color: #00aeff;
$darker: #752bff;
$blue: #008cff;

#footer {
  background: black;

  .footer-logo {
    height: 3rem;
    margin-bottom: 1rem;
    width: auto;
    display: block;
  }
}

footer {
  ul.navigation {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li a {
      font-size: 1.25rem;
      color: white;
      text-decoration: none;

      &:hover {
        color: $blue;
      }
    }
  }

  .form-control.footer-field {
    background: transparent;
    border-bottom: 2px solid white !important;
    color: white !important;
    font-weight: bold;
    max-width: 24rem;
    margin-bottom: 1rem;
    transition: all 0.2s ease;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    &:focus {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  ul.social {
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    li {
      margin-right: 1rem;
      display: inline;

      a {
        color: white;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}
