label {
  margin-bottom: 0.2rem;
  font-family: $special;
  color: $dark;
}

input.form-control,
select.form-control,
textarea.form-control {
  color: $dark !important;
  margin-bottom: 0.5rem;
  background: $light-light-light-gray;
  border: 2px solid $border;
  padding: 0.75rem;
  transition: all 0.2s ease;

  &.has-error:active &.has-error:focus,
  &:active,
  &:focus {
    border: 2px solid $blue;
  }

  &.no-border {
    border: 2px solid transparent !important;
    background: transparent;
  }
}

input.title,
textarea.title {
  font-weight: bold;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0;
}

input.subtitle,
textarea.subtitle {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

textarea.text {
  line-height: 1.5;
  font-size: 1.2rem;
}

input.title,
textarea.subtitle,
textarea.text {
  padding: 0 0 0.5rem 0px;
  border-radius: 0px !important;
  transition: all 0.2s ease;

  &.no-border:focus {
    border-bottom: 2px solid $blue !important;
  }
}

.form-group {
  margin-bottom: 0.5rem;

  &.marg-bot-0 {
    margin-bottom: 0rem;
  }
}
