$blue: #0275d8;

input.form-control,
textarea.form-control {
  color: black !important;
  border-radius: 0px;
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);

  &.has-val {
    border-bottom: 2px solid black;
  }

  &:active,
  &:focus,
  &.has-error:active
  &.has-error:focus {
    border-bottom: 2px solid $blue;
  }

  &.no-border {
    border: 0px solid transparent !important;
  }
}

.field.special-label label {
  cursor: text;
  transform: translate(12px, 36px);
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease;

  &.hasVal {
    transform: translate(0px, 4px);
    color: rgba(0, 0, 0, 1);
    transform: scale(0.9);

    &.active {
      color: $blue;
    }
  }
}

input.title {
  font-size: 2rem;
  font-weight: bold;
}
