.nav-item {
  .nav-hover {
    border-bottom: 4px solid transparent;
  }

  &:hover,
  &:active,
  &:focus {
    .nav-hover {
      border-bottom: 4px solid $blue;
    }
  }
}

.feature {
  .content-wrapper {
    padding: 4rem 5% 5% 5%;
    background: linear-gradient(transparent 30%, darken($transparent-blue, 20%), darken($transparent-dark-blue, 30%));
    width: 100%;
    transition: all 0.2s ease;

    &:hover {
      filter: grayscale(50%);

      .title,
      .subtitle {
        transform: translateY(-0.25rem) !important;
      }
    }
  }

  .content {
    .title, .subtitle {
      text-shadow: -2px 4px 6px rgba(0, 0, 0, 0.4);
      color: white;
      display: inline-block;
      transition: all 0.2s ease;
      z-index: 100;
      transform: translateY(0);
    }

    .title {
      font-size: 3rem;
      font-weight: bold;
    }
  }
}

@media screen and (min-device-width: 1024px) and (min-width: 720px) {
  .feature .content {
    width: 60%;
  }
}

.three {
  background: white;

  .content {
    padding: 1rem;
  }
}

.articles.card-columns {
  .card {
    border-radius: 0px !important;
    margin-bottom: 1rem;
  }
}
