$height: 53px;
$mobile-height: 47px;
$pad-vertical: 0.6rem;

#navbar-spacer {
  height: $height;
  display: block;
  width: 100%;
  background: $dark;
}

#navbar-wrapper {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  box-shadow: 0rem 0.1rem 0.1rem $shade;
  transition: all 0.25s ease;
  transform: translateY(0px);

  &.up {
    transform: translateY(-80px);

    &.active {
      transform: translateY(0px);
    }

    .dropdown {
      display: none;
    }
  }
}

#navbar {
  width: 100%;
  background: $dark;
  padding: $pad-vertical 0rem 0rem 0rem;
  font-family: "Palanquin Dark", sans-serif;
  transition: all 0.2s ease;
  height: $height;

  #nav-container {
    display: flex;
    height: 100%;
  }

  .logo {
    z-index: 1;
    transition: all 0.2s ease;
    display: block;
    padding-right: 1rem;
    width: auto;
    height: 100%;
    padding-bottom: $pad-vertical;

    img {
      height: 100%;
      width: auto;
    }
  }

  #menu {
    flex: 1;
    display: flex;

    a {
      color: $blue-gray;
      font-size: 1.25rem;
      cursor: hand;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        color: lighten($blue-gray, 10%);
      }
    }

    #social,
    #search,
    #links {
      display: inline-block;
    }

    #social {
      padding-top: 2px;
      padding-right: 0.5rem;

      a {
        padding-right: 0.5rem;
      }
    }

    #search {
      padding-right: 1rem;

      .form-control {
        transition: all 0.2s ease;
        border-radius: 0.2rem !important;
        background: $translucent-1;
        padding: 0.4rem 1rem;
        color: white !important;
        font-family: $special;

        ::placeholder {
          color: $blue-gray !important;
        }

        :-ms-input-placeholder {
          color: $blue-gray !important;
        }

        ::-ms-input-placeholder {
          color: $blue-gray !important;
        }

        &:hover {
          background: $translucent-2;
        }

        &:active,
        &:focus {
          background: $translucent-1;
        }
      }
    }

    .dropdown-header {
      opacity: 1;
      padding: 0;
      color: white;
      margin-bottom: 0.25rem;
    }

    #links {
      padding-top: 2px;
      flex: 1;
      text-align: right;

      .link {
        margin-left: 1rem;
        padding-bottom: 5px;
        border-bottom: 4px solid transparent;

        &:hover,
        &:active,
        &:focus,
        &.active {
          color: lighten($blue-gray, 10%);
          border-bottom: 4px solid $blue;
        }
      }

      .dropdown-toggler {
        .fa {
          transition: all 0.2s ease;
          transform: rotate(0deg);
        }

        &.active {
          .fa {
            transform: rotate(-180deg);
          }
        }
      }

      .dropdown {
        text-align: left;
        width: 100%;
        position: fixed;
        top: $height;
        left: 0;
        background: $dark;
        z-index: -1;
        max-height: 0vh;
        overflow: hidden;
        transition: all 0.3s ease;
        opacity: 0;

        .flex-container {
          padding: 1rem 0rem;
        }

        &.active {
          opacity: 1;
          max-height: 100vh;
          overflow-x: hidden;
          overflow-y: auto;
          box-shadow: 0rem 0.1rem 0.1rem $border;
        }

        a {
          display: block;
          width: auto;
        }
      }
    }
  }
}

.alert-spacer {
  height: 40px;
  width: 100%;
}

@media screen and (max-width: $breakpoint) {
  #navbar-spacer {
    height: $mobile-height;
  }

  #navbar {
    display: block;
    height: auto;
    padding: 0;

    .logo {
      display: inline-block;
      padding: $pad-vertical 0rem;

      img {
        height: 28px;
      }
    }

    #menu {
      transition: all 0.3s ease;
      position: fixed;
      top: $mobile-height;
      overflow-x: hidden;
      overflow-y: scroll;
      background: $dark;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 0vh;
      padding: $pad-vertical 1rem;

      &.active {
        opacity: 1;
        display: block;
        height: calc(100vh - 47px);
      }

      #social {
        width: 100%;
      }

      .dropdown-header,
      .mobile-header {
        margin-top: 1rem;
        padding: 0;
        color: white !important;
        margin-bottom: 0.5rem;
        opacity: 1 !important;
        font-size: 0.875rem;

        &.marg-top-0 {
          margin-top: 0rem;
        }
      }

      #links {
        text-align: left;
        width: 100%;

        .link {
          margin-left: 0;
          width: 100%;
          display: block;
          border-bottom: 0px solid transparent !important;
        }

        .dropdown-toggler {
          display: none;
        }

        .dropdown {
          z-index: auto;
          top: 0px;
          display: block;
          position: relative;
          height: auto;
          max-height: none;
          opacity: 1;
          border-bottom: 0px solid transparent;

          .active {
            box-shadow: 0;
          }

          .container,
          .flex-container {
            padding: 0 !important;
            margin: 0 !important;
            width: 100%;
            max-width: none;
          }
        }
      }
    }
  }

  #toggle {
    width: 2rem;
    height: 2rem;
    cursor: hand;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 1001;
    top: 12px;

    span {
      width: 100%;
      background: darken($blue-gray, 5%);
      height: 3px;
      display: block;
      transition: all 0.2s ease;
    }

    &:hover,
    &:focus,
    &:active {
      span {
        background: lighten($blue-gray, 10%);
      }
    }

    // Apply a margin top to all bars except the first one
    span + span {
      margin-top: 0.5rem;
    }

    &.active {
      #first {
        transform: translateY(11px) translateX(0.2rem) rotate(135deg);
      }

      #second {
        transform: rotate(-135deg) translateX(-0.14142rem)
          translateY(0.14142rem);
      }

      #third {
        transform: translateY(-11px) translateX(0.2rem) rotate(135deg);
      }
    }
  }

  .hidden-mobile {
    display: none !important;
  }
}

@media screen and (max-width: $larger-breakpoint) {
  #search {
    display: none !important;
  }
}

@media screen and (min-width: $breakpoint) {
  #toggle,
  .mobile-header,
  .hidden-desktop {
    display: none !important;
  }
}
