$height: 54px;
$pad-vertical: 0.6rem;

#navbar-spacer {
  height: $height;
  display: block;
  width: 100%;
}

#navbar-wrapper {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
}

#navbar {
  width: 100%;
  background: white;
  padding: $pad-vertical 1rem 0rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: 'Palanquin Dark', sans-serif;
  transition: all 0.2s ease;
  display: flex;
  height: $height;

  .logo {
    transition: all 0.2s ease;
    display: block;
    padding-right: 1rem;
    width: auto;
    height: 100%;
    padding-bottom: $pad-vertical;

    img {
      height: 100%;
      width: auto;
    }
  }

  #menu {
    flex: 1;
    display: flex;

    a {
      color: $blue-gray;
      font-size: 1.25rem;
      cursor: hand;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active, {
        color: black;
      }
    }

    #social,
    #search,
    #links {
      display: inline-block;
    }

    #social {
      padding-top: 2px;
      padding-right: 0.5rem;

      a {
        padding-right: 0.5rem;
      }
    }

    #search {
      padding-right: 1rem;

      .form-control {
        opacity: 0.8;
        transition: all 0.2s ease;
        border-radius: 16px !important;
        background: $light-light-gray;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.4rem 1rem;

        &:active,
        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }

    #links {
      padding-top: 2px;
      flex: 1;
      text-align: right;

      .link {
        margin-left: 1rem;
        padding-bottom: 5px;
        border-bottom: 4px solid transparent;

        &:hover,
        &:active,
        &:focus,
        &.active {
          color: black;
          border-bottom: 4px solid $blue;
        }
      }

      .dropdown-toggler {
        .fa {
          transition: all 0.2s ease;
          transform: rotate(0deg);
        }

        &.active {
          .fa {
            transform: rotate(180deg);
          }
        }
      }

      .dropdown {
        text-align: left;
        width: 100%;
        position: absolute;
        top: $height;
        left: 0;
        background: white;
        z-index: -1;
        border-bottom: 1px solid $border;
        max-height: 0vh;
        overflow: hidden;
        transition: all 0.2s ease;
        opacity: 0;

        .flex-container {
          padding: $pad-vertical 1rem;
        }

        &.active {
          opacity: 1;
          max-height: 100vh;
        }

        .dropdown-header {
          opacity: 0.6;
          padding: 0;
          color: $blue-gray;
          margin-bottom: 0.25rem;
        }

        a {
          display: block;
          width: auto;
        }
      }
    }
  }

  &.top {
    // TODO
  }

  &.up {
    transform: translateY(-80px);

    .dropdown {
      display: none;
    }
  }
}

.alert-spacer {
  height: 40px;
  width: 100%;
}

#navbar-wrapper {
  transition: all 0.25s ease;
  transform: translateY(0px);
}
