<head>
  <title>Youth Journal | Change Email</title>
</head>

<div class="container marg-top-2 marg-bot-2">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h2>Hello
        <%= @email %>!</h2>
      <% if @resource.try(:unconfirmed_email?) %>
      <p>We're contacting you to notify you that your email is being changed to
        <%= @resource.unconfirmed_email %>.</p>
    <% else %>
      <p>We're contacting you to notify you that your email has been changed to
        <%= @resource.email %>.</p>
      <% end %>
    </div>
  </div>
</div>
