<head>
  <title>The Metric | Change Password</title>
</head>

<div class="container marg-top-2 marg-bot-2">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h2>Hello
        <%= @resource.email %>!</h2>
      <p>We're contacting you to notify you that your password has been changed.</p>
    </div>
  </div>
</div>
